[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
uvicorn = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}
werkzeug = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
